* {
    margin: 0;
    padding: 0;

}

body {
    background-color: darkgrey;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    position: sticky;
    padding: 0 40px;

}

.header__logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-top: 4px;
    border-radius: 18px;
    box-shadow: 4px 2px 11px white;
}



.header__searchInput {

    height: 25px;
    width: 1400px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.btrSearch {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
}

.btrSearch:hover{
    background-color: rgb(216, 148, 21);
}





.conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
}

.image {
    border: 6px solid rgb(218, 170, 125);
    border-radius: 4px;
    width: calc(100% - 12px);
}

.books{
    font-weight: 900;
    margin: 0 20px;
    width:calc(20% - 40px);
    text-align: center;
}



.book__info{

background-color: rgba(236, 156, 8, 0.822);
}